<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Survey</h1>
    <p>
      Please click the link below to register: <%= @verification_link %>.
    </p>
  </body>
</html>